.centermaster
  #splash
    Welcome to the War on
    %span.java
      Javascript.
  %p.about
    This is based on the card game called war. You will be pitted again'st Javascript. An opponent with terrible syntax but powerful functions.  We wish you luck!

