.oppbox
  Computer
#warbtn
  War!
.battleholder
  .card0
    Card0
  .card1
    Card1
.deckimage
  Picture of Deck
#battleoutcome
  Computer/Human Wins
#autoplaybtn
  Autoplay!
#stoptimer.hide
  Stop!

.hide
  =form_tag()
  #id=@auth.id
